.Button {
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	border-radius: $button-border-radius;
	cursor: pointer;
	display: inline-block;
	height: $button-height;
	letter-spacing: .1rem;
	line-height: $button-height;
	padding: $button-padding;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
    @include common-button($button-text-color, $button-default-color);
}

.Button--primary {
    @include common-button($button-text-color, $button-primary-color);
}

.Button--secondary {
    @include common-button($button-text-color, $button-secondary-color);
}
