.Button {
	border-radius: .2rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 3.8rem;
	padding: 0 3.0rem;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
    @include common-button($color-initial, $color-default);
}

.Button--primary {
    @include common-button($color-initial, $color-primary);
}

.Button--secondary {
    @include common-button($color-initial, $color-secondary);
}
