.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: $grid-max-width;
}

.Grid--gutters {
  padding: $grid-gutter;
}

.Grid--start{
  justify-content: flex-start;
}

.Grid--center {
  justify-content: center;
}

.Grid--end {
  justify-content: flex-end;
}

.Grid--between {
  justify-content: space-between;
}

.Grid--around {
  justify-content: space-around;
}

/* GridCells */

.Grid > * {
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

.Grid--gutters > * {
  padding: $grid-gutter;
}

.Grid__Cell {
  flex-basis: auto;
}

@for $i from 1 through $grid-size {
  .Grid__Cell--small-#{$i} {
    flex-basis: percentage($i/$grid-size);
    max-width: percentage($i/$grid-size);
  }
}

@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  @for $i from 1 through $grid-size {
    .Grid__Cell--medium-#{$i} {
      flex-basis: percentage($i/$grid-size);
      max-width: percentage($i/$grid-size);
    }
  }
}

@media (min-width: $breakpoint-medium) {
  @for $i from 1 through $grid-size {
    .Grid__Cell--large-#{$i} {
      flex-basis: percentage($i/$grid-size);
      max-width: percentage($i/$grid-size);
    }
  }
}
