.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  border-radius: $menu-border-radius;
}
  .Menu__Item {
    color: $menu-item-color;
    font-family: $menu-item-font-family;
    font-size: $menu-item-font-size;
    font-weight: $menu-item-font-weight;
    height: $menu-item-height;
    padding: $menu-item-padding;
    appearance: none;
    cursor: pointer;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: none;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: darken( $menu-item-color, 15% );
    }

  }



.Menu--horizontal {
  flex-direction: row;
}

.Menu--vertical {
  flex-direction: column;

  .Menu__Item {
    min-width: 100%;
  }

}

.Menu--inverted {

  .Menu__Item {
    color: $menu-item-inverted-color;

    &:hover {
      color: darken( $menu-item-inverted-color, 15% );
    }

  }

}
