.Panel {
    overflow: hidden;
    border-radius: $panel-border-radius;
}

.Panel--default {
	color: $panel-default-color;
	background-color: $panel-default-background-color;
}

.Panel--primary {
	color: $panel-primary-color;
	background-color: $panel-primary-background-color;
}

.Panel--secondary {
	color: $panel-secondary-color;
	background-color: $panel-secondary-background-color;
}
