@mixin common-field-input() {
  font-family: Lato;
  font-weight: 700;
	appearance: none;
	color: $color-secondary;
	background-color: $color-initial;
	border: .1rem solid $color-default;
	border-radius: .2rem;
	box-shadow: none;
	height: 3.8rem;
	padding: .6rem 1.0rem;
	width: 100%;

	&:focus {
		border: .1rem solid $color-primary;
		outline: 0;
	}
}
 