@mixin common-field-input() {
	color: $field-text-color;
	background-color: $field-background-color;
	font-family: $field-font-family;
	font-size: $field-font-size;
	font-weight: $field-font-weight;
	height: $field-height;
	width: $field-width;
	padding: $field-padding;
	border: $field-border-width solid $field-border-color;
	border-radius: $field-border-radius;
	appearance: none;
	box-shadow: none;

	&:focus {
		border: $field-border-width solid $field-focus-border-color;
		outline: 0;
	}
}
