html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	color: $global-secondary-color;
	font-family: $global-font-family;
	font-size: $global-font-size;
	font-weight: $global-font-weight;
	line-height: $global-line-height;
	letter-spacing: .01em;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
